<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="MqttBroker" value="192.168.30.3" />
    <add key="MqttBasePath" value="bav21/weather" />
    <add key="SerialPortName" value="COM3" />
    <add key="UpdateIntervalSeconds" value="5" />
  </appSettings>
</configuration>